.ipynb_checkpoints/
day02/assignments/__epyccel__/
day02/assignments/numba_pyccel_assignments/__epyccel__/
day02/assignments/profiling.png
day03/assignments/.lock_acquisition.lock
day03/assignments/__pyccel__/
day03/assignments/main
day03/assignments/main.cpython-38-x86_64-linux-gnu.so
